<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <testsuite name='main'>
        <directory suffix='.php'>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>../</directory>
            <exclude>
                <directory>../test</directory>
                <directory>../vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>